@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

::placeholder{
  color: #6c757d !important;
  opacity: 1 !important;
}

/* Para Firefox */
::-moz-placeholder {
  color: #6c757d !important;
  opacity: 1 !important;
}

/* Para Edge */
::-ms-input-placeholder {
  color: #6c757d !important;
  opacity: 1 !important;
}

/* Para Safari and Chrome */
::-webkit-input-placeholder {
  color: #6c757d !important;
  opacity: 1 !important;
}

/* Forzar colores de entrada */
input, textarea, select {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-color: #ced4da !important;
}

.react-phone-input-2 {
  color: #6c757d !important;
  background-color: #ffffff !important;
}

/* Estilo global para menús desplegables */
select,
option,
[role="option"],
.dropdown-item,
.dropdown-content * {
  color: #6c757d; /* Color de texto azul */
  background-color: #ffffff; /* Fondo blanco */
  text-shadow: none; /* Eliminar sombra de texto */
}

/* Asegúrate de que los placeholders también se muestren correctamente */
select::placeholder,
textarea::placeholder {
  color: #6c757d !important; /* Fuerza que el placeholder sea azul */
}

@media (prefers-color-scheme: dark) {
  html.light {
    color-scheme: light;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  @media (min-width: 1920px) {
    .h-3xl {
      height: 1600px;
    }
  }

  @media (min-width: 2300px) {
    .h-4xl {
      height: 1920px;
    }
  }

  @media (min-width: 1700px) {
    .text-for-1700px {
      font-size: 32px;
    }
  }

  @media (min-width: 2000px) {
    .text-3xl-100px {
      font-size: 100px;
    }

    .text-3xl-40px {
      font-size: 40px;
    }

    .leading-3xl-60px {
      line-height: 60px;
    }
  }

  @media (min-width: 1920px) {
    .title-1920 {
      font-size: 100px;
    }

    .text-1920 {
      font-size: 40px;
    }

  }

  @media (min-width: 1800px) {
    .title-1800 {
      font-size: 80px;
    }

    .text-1800 {
      font-size: 30px;
    }

  }

  

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes beforeAfterAnimation {
  0% {
    opacity: 1; /* Before visible */
  }
  29% {
    opacity: 1; /* Still visible */
  }
  29.05% {
    opacity: 0; /* Disappear */
  }
  100% {
    opacity: 0; /* Remain invisible */
  }
}

@keyframes afterBeforeAnimation {
  0% {
    opacity: 0; /* After invisible */
  }
  29% {
    opacity: 0; /* Still invisible */
  }
  29.05% {
    opacity: 1; /* Appear */
  }
  100% {
    opacity: 1; /* Remain visible */
  }
}

.before-animation {
  animation: beforeAfterAnimation 9s infinite;
}

.after-animation {
  animation: afterBeforeAnimation 9s infinite;
}




#BG {
  mask-image: url('/svgs/vector7.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: bottom left;
}


/* Oculta la barra de scroll sin desactivar el scroll táctil */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}


@keyframes wobble-rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-wobble {
  animation: wobble-rotate 3s ease-in-out infinite;
}


