@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



/* Animación para alternar entre Before y After */
@keyframes beforeAfterAnimation {
  0% {
    opacity: 1; /* Before visible */
  }
  25% {
    opacity: 0; /* Before desaparece */
  }
  25.01% {
    opacity: 0; /* After empieza a aparecer */
  }
  100% {
    opacity: 0; /* After visible durante el resto del tiempo */
  }
}

@keyframes afterBeforeAnimation {
  0% {
    opacity: 0; /* After invisible */
  }
  25% {
    opacity: 0; /* After invisible */
  }
  25.01% {
    opacity: 1; /* After aparece */
  }
  100% {
    opacity: 1; /* After visible durante el resto del tiempo */
  }
}

.before-animation {
  animation: beforeAfterAnimation 9s infinite;
}

.after-animation {
  animation: afterBeforeAnimation 9s infinite;
}

#GGroup22 * {
  outline: 1px solid red;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
}

#BG {
  mask-image: url('/svgs/vector7.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: bottom left;
}
